<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Icons -->
    <link rel="stylesheet" href="./assets/Fonts/style.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Poppins:wght@700&display=swap" rel="stylesheet">

    <!-- Link Global-->
    <link rel="stylesheet" href="./styles/global.css">

    <!-- Home -->
    <link rel="stylesheet" href="./styles/home.css">

    <!-- Titulo da Pagina -->
    <title>Roquet.q</title>
</head>
<body>

<div class="content" id="home">

    <header id="header">
        <img src="./assets/Logo.svg" alt="Logo Roquet.q" srcset="">
    </header>

    <div id="bg">
        <div class="ball top"></div>
        <div class="ball bottom"></div>
    </div>

    <main>
        <div class="container">
            <%- include(`parts/${page}`)  %>

        </div>

    </main>
</div>
</body>
</html>