<section class="section">
    <h2 class="title">Entre como participante</h2>
    <form action="" class="form grid">
        <label class="sr-only">Codigo da sala</label>
        <input type="number" placeholder="Código da sala">
        <button><i class="icon-log-in"></i>Entrar na sala</button>
    </form>

    <div class="dividers">
        <div class="divider" ></div>
        <p class="divider_text">ou</p>
        <div class="divider"></div>
    </div>

    <section>

        <h2 class="title">Crie sua própria sala, de forma fácil</h2>
        <a href="/create-pass" class="btn-outline"><i class="icon-users"></i>Criar uma sala</a>

    </section>
</section>