<div class="noquestion">
    <img src="/assets/noquestion.svg" alt="Nenhuma pergunta">
    <h2 class="title">Nenhuma pergunta por aqui...</h2>
    <p class="subtitle">Faça sua primeira pergunta e envie o<br>código dessa sala para outras pessoas!</p>
</div>