.content{
    max-width: 1120px;
}

#room header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#room header .buttons{
    display: flex;
    gap: .8rem;
    align-items: center;
    justify-content: center;
}

#room .btn-outline{
    padding: 0 1.6rem;
}

#room .btn{
    background-color: var(--blue);
    border: none;
    color: var(--white);
    padding: 0 3.2rem;
}

/* Main */
#question-form form{
    padding: 1.6rem;
    border: 2px solid var(--grey-blue);
    border-radius: 0px 8px 8px 8px;
    
}

#question-form .title{
    margin-bottom: 2.4rem;
}

#question-form form textarea{
    background: none;
    resize: none;
    border: none;
    outline: none;
    width: 100%;
    word-break: break-word;
}

#question-form form textarea::placeholder{
    color: var(--icons-details);
}

#question-form form footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#question-form form footer .footer-text{
    display: flex;
    gap: .6rem;
    color: var(--icons-details);
    justify-content: center;
    font-size: 1.4rem;
    align-items: center;
    font-family: var(--font-DM);
}
#question-form form footer button{
    background: var(--blue);
    border: none;
    color: var(--white);
    padding: 0 2.4rem;
    height: 4rem;
}

/* Questions */
.question-wrapper{
    display: flex;
    flex-direction: column;
    background-color: var(--light-blue);
    margin-top: 1.6rem;
    padding: 2.4rem;
    border-radius: 0px 8px 8px 8px;
}

.quests, .actions , .actions a{
    display: flex;
    align-items: center;
}

.user i, .actions a i{
    font-size: 2.4rem;
}

.quests{
    gap: 1.6rem;
}

.user{
    background-color: var(--blue);
    color: var(--white);
    padding: 1.4rem;
    clip-path: circle();
    line-height: 0;
}

.quests p{
    font-family: var(--font-DM);
    font-weight: 400;
    color: var(--black);
    word-break: break-word;
    display: flex;
    align-items: center;
    min-height: 5.5rem;
}

.actions{
    justify-content: flex-end;
    gap: 2.4rem;
}

.actions a{
    font-family: var(--font-DM);
    font-weight: 400;
    color: var(--grey-dark);
    display: flex;
    gap: .8rem;
}


.icon-check{
    color: var(--blue);
}

.icon-trash{
    color: var(--red);
}

.question-wrapper.read{
    background-color: var(--grey-light);
}

.question-wrapper.read .user{
    background-color: var(--grey-blue);
}

/* Noquestion */

.noquestion{
    text-align: center;
    margin-top: 5.2rem;
}

.noquestion img{
    max-width: 100%;
}

.noquestion .title{
    font-weight: 600;
    font-size: 1.8rem;
}

.noquestion .subtitle{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.9rem;
    color: var(--grey-dark);
    margin-top: 1rem;
}